body {
    margin: 25px 50px;
    background: rgb(104, 142, 199);
    font: 18px Arial, sans-serif;
}
h1 {
    color: rgb(255, 165, 0);
}
.container {
    width: 300px; 
    height: 300px; 
    margin: 60px auto;
    position: relative;
    
}
.circle {
    height: 160px;
    width: 160px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 50%;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 160px solid rgb(240, 240, 240);
    border-radius: 50%;
    opacity: 0.8;
}
.triangle-up2 {
	width: 0;
	height: 0;
    position: absolute;
    left: 7px;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 160px solid rgb(23, 150, 44);
    border-radius: 47%;
    opacity: 0.8;
}