body {
    margin: 25px 50px;
    background: rgb(104, 142, 199);
    font: 18px Arial, sans-serif;
}
h1 {
    color: rgb(255, 165, 0);
}
.circle {
    height: 160px;
    width: 160px;
    border: 4px solid rgb(240, 240, 240);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.s1 {
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 160px solid rgb(240, 240, 240);
    border-radius: 50%;
    opacity: 1;
    position: absolute;
}